#preFooter {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#prefootMid {
  background-color: #d1d5d8;
  padding: 1em;
  border-radius: 0.2em;
  display: flex;
  width: 70%;
  height: 600px;

}

#map {
  height: 520px;
}

#map Iframe {
  padding-top: 1em;
  align-self: flex-start;
  width: 600px;
  height: 500px;
  border-radius: 0.2em;
}

.weatherDetails {
  padding-top: 1em;
  margin: 5px;
  background-color: #1f1f1f;
  color: #FFF;
  border-radius: 2%;
  height: 520px;
  text-align: center;
}

.value {
  color: #9ee200;
}

/* ...... services ...... */

#servicesMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.servicesInfoContainer {
  background-color: #d1d5d8;
  width: 375px;
  padding: 2em;
  border-radius: 0.2em;
  color: #1f1f1f;
  margin: 2em;
  -webkit-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
  -moz-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
  box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
}

.servicesInfoContainer img {
  border-radius: 2%;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
  -moz-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
  box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
}

.servicesInfoContainer li {
  padding: 0.38em 0;
  list-style: none;
}

.servicesInfoContainer li:before {
  content: "\2022";
  color: #5c8301;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}