@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header .logo {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.logo img {
	width: 200px;
	padding-left: 20px;
	justify-items: center;
	cursor: pointer;
}

.social img{
	display: inline-flex;
	width: 45px;
	padding-right: 10px;
	float: right;
}

#currentdate {
	display: flex;
	justify-content: center;
	background-color: #36454f;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
}

#banner {
	background-color: #F0CF65;
	margin: 5px;
	text-align: center;
}

.container h1 {
	font-size: 18px;
	padding: 5px;
	text-align: center;
}

.container p {
	font-size: 14px;
}

li {
	list-style-type: none;
}

.header {
	margin: 0;
	max-width: 1020px;
	padding: 0;
	background-color: black;
	border-radius: 10px;
}

.navigation {
	display: grid;
	justify-content: right;
	list-style: none;
}

.navigation li:first-child {
	display: flex;
}

.navigation li {
	display: none;
	padding-left: 10px;
}

.navigation a {
	display: flex;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "☰ ";
}

.navigation a:hover {
	color: #F0CF65;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

main {
	padding: 1em;
}

.list {
	border: 1px solid gray;
	text-align: center;
	padding: 1em;
}

.list img {
	width: 540px;
}

p {
	font-family: "Poppins", sans-serif;
	padding: 5px;

}

.container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, [col] 150px);
	grid-template-rows: repeat(3, [row] auto);
	background-color: #fff;
	text-align: center;
}

.a-side h1 {
	font-size: 18px;
}

#spotlight p {
	font-size: 14px;
	padding: 10px;
}

#spotlight a {
	font-size: 10px;
	color: blue;
}

#spotlight a:hover {
	color: white;
}

#spotlight {
	width: 250px;
	border: 1px solid gray;
	padding: 5px;
	margin: 10px 5px;
	border-radius: 10px;
}

.event {
	grid-column: 1 / span 2;
	grid-row: 1 / span 14;
	background-color: #28AFB0;
	border-radius: 10px;

}

.chamber {
	grid-column: col 3 / span 5;
	grid-row: auto / span 26;
	background-color: #28AFB0;
	border-radius: 10px;
	width: auto;
	height: 420px;

}

#spotlight {
	grid-column: col 7 / span 2;
	grid-row: 1 / span 44;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;
}

#spotlight img {
	width: 110px;
	height: 90px;
}

#spotlight div{
	border: 1px solid gray;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
}

.weather {
	grid-column: col 1 / span 2;
	grid-row: 15 / span 12;
	background-color: #28AFB0;
	border-radius: 10px;
}

.join {
	grid-column: col 1 / span 2;
	grid-row: 27 / span 18;
	background-color: #28AFB0;
	border-radius: 10px;

}

.news {
	grid-column: col 3 / span 5;
	grid-row: 27 / span 18;
	background-color: #28AFB0;
	border-radius: 10px;
}

footer {
	background: black;
	border-radius: 5px;
	padding: 1em;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;

}

.chamber a {
	font-size: 14px;
	text-decoration: none;
	background-color: #F0CF65;
	font-weight: bold;
	color: #000;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid gray;
	float: right;
	margin: 300px 10px;
}

.chamber {
	background-image: url("https://chrmux.github.io/wdd230/chamber/images/wdd230-org.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

footer h1 {
	font-size: 16px;
}

footer img {
	width: 110px;
	padding: 10px;
	
}

footer li {
	list-style: none;
}

footer h2 {
	font-size: 16px;
}

hr {
	margin: 10px;
}

.title {
	display: flex;
}