/* Small/Phone View ***************/
.logo img {
	width: 200px;
	padding-left: 10px;
	cursor: pointer;
	text-align: center;
}

.social img {
	width: 35px;
	padding: 15px;
	padding-top: 70px;
	line-height: 20px;
	float: right;
}

#currentdate {
	background-color: #36454f;
	color: #fff;
	text-align: center;
	justify-content: center;
	padding: 5px;
	border-radius: 10px;

}

nav {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0;
	background-color: black;
	border-radius: 10px;
}

.navigation {
	list-style: none;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
	padding-left: 10px;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "☰ ";
}

.navigation a:hover {
	color: #F0CF65;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */

	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	#currentdate {
		text-align: center;
	}
}

main {
	padding: 1em;
}


.container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, [col] 150px);
	grid-template-rows: repeat(3, [row] auto);
	background-color: #fff;
	text-align: center;
}

.a-side h1 {
	font-size: 22px;
}

.a-side p {
	font-weight: bold;
	padding: 10px;
}

.a-side a {
	font-size: 16px;
	color: blue;
}

.a-side a:hover {
	color: white;
}

.event {
	grid-column: 1 / span 2;
	grid-row: 1 / span 14;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.chamber {
	grid-column: col 3 / span 5;
	grid-row: auto / span 26;
	background-color: #28AFB0;
	border-radius: 10px;
	width: 450px;
	padding: 5px;

}

.a-side {
	grid-column: col 7 / span 2;
	grid-row: 1 / span 44;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.weather {
	grid-column: col 1 / span 2;
	grid-row: 15 / span 12;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.discover {
	grid-column: col 1 / span 2;
	grid-row: 27 / span 18;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.news {
	grid-column: col 3 / span 5;
	grid-row: 27 / span 18;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

footer {
	background: black;
	border-radius: 5px;
	padding: 1em;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;

}

.chamber {
	background-image: url("https://chrmux.github.io/wdd230/chamber/images/wdd230-org.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.stats {
	font-size: 12px;
	position: relative;
	top: 250px;
	right: -210px;
	width: 180px;
	background-color: #F0CF65;
	border: 1px solid #000;
	border-radius: 10px;
	cursor: pointer;


}

footer img {
	width: 90px;
}

footer h1 {
	font-size: 16px;
}

hr {
	margin: 10px;
}

.title,
.title img {
	width: 90px;
	float: left;
}