
@media screen and (max-width: 700px) {
	footer {
		width: 100%;
	}

	.container {
		display: block;
		width: 100%;
}


/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */

	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	#currentdate {
		text-align: center;
	}
}

}