/* for tablet mode view */

@media screen and (max-width: 700px) {
	footer {
		width: 100%;
	}

	.container {
		display: block;
		width: 100%;
}

/* Tablet menu */
@media all and (min-width: 700px) {
	.navbar {
		justify-content: center;
	}

	.logo {
		flex: 1;
	}


	.navbar .toggle {
		flex: 1;
		text-align: right;
		order: 2;
	}
}
	
}