/* for mobile screen view */

@media screen and (max-width: 700px) {
	footer {
		width: 100%;
	}

	.wrapper {
		width: 100%;
		display: block;
	}
	.b img {
		width: 480px;
	}
}

@media all and (mix-width: 700px) {
	.wrapper {
		width: 100%;
		display: block;
	}
	.b img {
		width: 480px;
	}
}