/* for mobile screen view */

@media screen and (max-width: 700px) {
	footer {
		width: 100%;
	}
	.chamber{
		width: 480px;
	}
	picture {
		width: 100%;
	}
}

@media all and (max-width: 700px) {
	.container {
		display: flex;
		width: 100%;

	}
	.chamber{
		width: 480px;
	}
}
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */

	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	#currentdate {
		text-align: center;
	}
}