body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header img {
	float: left;
	width: 215px;
	padding-left: 50px;
	cursor: pointer;
}

.navbar{
	display: flex;
	float: right;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 4px;
}

header {
	overflow: hidden;
	padding: 1em;
    background: #000;
	border-radius: 10px;
	color: #fff;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header a{
	color: white;
}


.social img{
	float: right;
	width: 30px;
	padding: 30px 0;
	cursor: pointer;
}

#currentdate {
	display: flex;
	position: relative;
	background-color: #36454f;
	color: #fff;
	text-align: center;
	justify-content: center;
	padding: 5px;

}

body {
	background-color: white;
}

main {
	padding: 1em;
}

ul,
.navbar,
.subnavbar {
	list-style-type: none;
}

.logo {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0;
}

.item {
	padding: 50px 10px;
}

a:hover,
.item a:hover::after {
	color: #F0CF65;
}

/* Mobile navbar */
.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar a {
	display: block;
	padding: 15px 5px;
}

.navbar .subitem li a {
	padding: 15px;
}

.navbar .toggle {
	order: 1;
	font-size: 45px;
	color: #fff;
	cursor: pointer;
}

.item {
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}

.active .item {
	display: block;
}

/* Subnavbar up from mobile screens */
.subnavbar {
	display: none;
}

.subnavbar-active .subnavbar {
	display: block;
}

.has-subnavbar i {
	font-size: 12px;
}

.has-subnavbar>a::after {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	content: "\f078";
	color: white;
	padding-left: 5px;
}

.subitem a {
	padding: 10px 15px;
}

.subnavbar-active {
	background-color: #111;
	border-radius: 3px;
}

.container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, [col] 150px);
	grid-template-rows: repeat(3, [row] auto);
	background-color: #fff;
	text-align: center;
}

.a-side h1 {
	font-size: 22px;
}

.a-side p {
	font-weight: bold;
	padding: 10px;
}

.a-side a {
	font-size: 16px;
	color: blue;
}

.a-side a:hover {
	color: white;
}

.event {
	grid-column: 1 / span 2;
	grid-row: 1 / span 14;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.chamber {
	grid-column: col 3 / span 5;
	grid-row: auto / span 26;
	background-color: #28AFB0;
	border-radius: 10px;
	width: 450px;
	padding: 5px;

}

.a-side {
	grid-column: col 7 / span 2;
	grid-row: 1 / span 44;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.weather {
	grid-column: col 1 / span 2;
	grid-row: 15 / span 12;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.discover {
	grid-column: col 1 / span 2;
	grid-row: 27 / span 18;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

.news {
	grid-column: col 3 / span 5;
	grid-row: 27 / span 18;
	background-color: #28AFB0;
	border-radius: 10px;
	padding: 5px;

}

footer {
	background: black;
	border-radius: 5px;
	padding: 1em;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;

}

.chamber{
	background-image: url("https://chrmux.github.io/wdd230/chamber/images/wdd230-org.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.stats {
	font-size: 12px;
	position: relative;
	top: 250px;
	right: -210px;
	width: 180px;
	background-color: #F0CF65;
	border: 1px solid #000;
	border-radius: 10px;
	cursor: pointer;
	
	
}

footer img {
	width: 90px;
}
footer h1{
	font-size: 16px;
}

hr {
	margin: 10px;
}
.title, .title img{
	width: 90px;
	float: left;
}

/* Desktop navbar */
@media all and (min-width: 960px) {
	.navbar {
		align-items: flex-start;
		flex-wrap: nowrap;
		background: none;
	}

	.logo {
		order: 0;
	}

	.item {
		order: 1;
		position: relative;
		display: block;
		width: auto;
	}

	.subnavbar-active .subnavbar {
		display: block;
		position: absolute;
		left: 0;
		top: 68px;
		background: #111;
	}

	.navbar .toggle {
		display: none;
	}

}