* {
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	width: 100%;
	background: #010d16;
	position: relative;
	border-radius: 5px;
}


nav{
	display: flex;
	padding: 2px 6%;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

nav img{
	width: 150px;
	border-radius: 50%;
}
nav h1{
	padding-right: 3em;
	font-size: 18px;
	color: #fff;
}

.navigation{
	flex: 1;
	text-align: right;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 20px;
	position: relative;
	color: #fff;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

nav a:hover {
	color: #F0CF65;
}

body {
	max-width: 960px;
	margin: 0 auto;
	background-color: white;
}

h2 {
	color: #536878;
}

#currentdate {
	background-color: #36454f;
	color: #fff;
	display: flex;
	text-align: center;
	padding: 5px 41% ;
}

.mainSsection {
	display: flex;
	box-sizing: border-box;
	border: 5px;
}

main {
	padding: 0 1em;
	font-size: 0.8rem;
	
}

section:nth-child(2){
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		font-size: 0.85rem;
		background-color: #28AFB0;
}	
	
main .submenu {
	margin: 1rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
}

.submenu ul {
	margin-left: 2rem;
}

main picture {
	display: none;
	margin: 1rem;
}

main article {
	margin: 1rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #010d16;
	border-radius: 5px;
	padding: 1em;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;

}

footer img {
	width: 90px;
}

.social img {
	display: inline-block;
	padding: 0 5px;
  	width: 30px;

}
  
/* Media Query for medium+ views */
@media (min-width: 700px) {
	.navigation {
		list-style: none;
		padding: 0;
	}
	.navigation li:first-child {
		display: block;
	}
	.navigation li {
		display: none;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation a.bar::before {
		content: "🍔 ";
	}
	
	.responsive li {
		display: block;
	}
	
	.responsive a.bar::before {
		content: "❌ ";
	}
	.navigation a {
		display: block;
		padding: 0.75rem;
		text-align: left;
		text-decoration: none;
		font-weight: 700;
		transition: 0.5s;
		font-size: clamp(1rem, 2vmin, 1.5rem);
	}
}