body {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
      margin: 0 auto;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  .list {
      list-style: none;
    }
  
  
  .list li:not(:last-child) {
      margin-bottom: 32px;
    }
  

@media screen and (max-width:700px){
    .list img {
        width: 100%;
    }
}

@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
  }
}