* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	justify-items: center;
	padding: 10px;
}

.btn-img {
	width: 45px;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	padding: 10px 20px;
	padding: 10px 20px;
	border: 1px solid gray;
	padding: 10px;
	text-align: center;

}

.card-items {
	text-align: center;
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
}

.card-items img {
	width: 250px;
	height: 200px;
}



/* small Views ******************************/
@media only screen and (min-width: 25.75em) {
	.card {
		grid-template-columns: 1fr;
	}

	.card-items img:nth-child(2) {
		display: block;
	}

	.card-items img:nth-child(3) {
		grid-column: span 1;
	}
	.card-items {
		width: 100%;
	}

	.card-items img {
		display: block;
	}
	.card img {
		width: 100%;
	}
}

/* medium Views ******************************/
@media only screen and (min-width: 37.5em) {
	.card {
		grid-template-columns: 1fr 1fr;
	}

	.card-items img {
		display: block;
	}

	.card {
		width: 100%;
	}
	.card img {
		width: 100%;
	}
	.card-items{
		width: 100%;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	.card {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card-items img:nth-child(3) {
		grid-column: span 1;
	}
}