body{
	font-size: 18px;
	color: #444;
  margin: 0;
}

section {
  background-color: white;
  border: none;
}
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;

  }
  main {
    background-color: white;;
  }

img{
    width: 250px;
  }
