html {
  font-size: 100%;
}

.contact-form {
  	max-width: 768px;
	display: block;
	background: #000;
	padding: 25px;
	margin: 40px auto;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	color: #fff;

}

.title-form {
  max-width: 550px;
  margin-bottom: 5px;
}
.nav-bar {
  display: inline-flex;
  
}

@media screen and (max-width: 700){
	.contact-form {
		justify-content: center;
		justify-items: center;
		align-items: center;
	}
}

