html {
  font-size: 100%;
}

.green-contact-form {
  max-width: 768px;
	display: block;
	background: #162E3F;
	padding: 25px;
	margin: 40px auto;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	color: #fff;

}

.title-form {
  max-width: 550px;
  margin-bottom: 5px;
}
.top-menu {
  display: inlineflex;
}

