@media only screen and (min-width: 415px) and (max-width: 1025px) {

    .pageTitle {
        font-size: 2.5em;
    }
    .container {
        flex-flow: column;
    }
    .templeInfoContainer {
        flex-flow: row wrap;
        max-width: 90%;
        margin: 1em;
        justify-content: center;
    }
    .templeTop {
        margin-top: 3em;
    }
    .templeBottom {
        margin-bottom: 3em;
    }
    .TempImg, .TempImg > div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}