@media only screen and (max-width: 415px) {

    .pageTitle {
        font-size: 2em;
    }
    .container {
        flex-flow: column;
    }
    .templeInfoContainer {
    flex-flow: column;
    max-width: 90%;
    margin: 2em 1em;
    padding: 1em;
}
.templeTop {
    margin-top: 3em;
}
.templeBottom {
    margin-bottom: 3em;
}
}